Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  -performance-type-promotion-in-math-fn,
  readability-*,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
  -readability-redundant-casting,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-c-arrays,
  modernize-*,
  -modernize-deprecated-headers,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type

WarningsAsErrors: ''
HeaderFilterRegex: '^(src/|include/|lib/|test/)'
FormatStyle: none